/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
    color: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  :root.light {
    --bckgrnd-clr: white;
    --txt-clr: black;
    --highlight-clr: rgba(255, 166, 0, 1);
    --nav-color: beige;
    --svg-hover: white;
    --input-txt: black;
    --input-clr: white;
    --focus-clr: black;
    --dynamic-btn-clr: rgba(128, 128, 128, 0.7);
    --high: rgba(238, 10, 10, 0.4);
    --normal: rgba(0, 0, 255, 0.3);
    --low: rgba(200, 209, 220, 0.5);
    --date: rgba(128, 128, 128, 1);
    --sort: beige;
    --complete: lightgreen;
    --todo-hover: rgba(0, 0, 0, 0.7);
    --add-task: rgb(241, 239, 239);
    --placeholder-clr: rgba(128, 128, 128, 0.5);
    --confirm: rgba(0, 128, 0, 0.4);
    --cancel: rgba(255, 0, 0, 0.4);
    --input-bckgrnd-clr: white;
  }


  :root.dark {
    --bckgrnd-clr: rgb(66, 66, 66);
    --txt-clr: white;
    --highlight-clr: rgba(128, 128, 128, 0.7);
    --nav-color: #1b1b1b;
    --svg-hover: white;
    --input-txt: white;
    --input-clr: rgb(66, 66, 66);
    --focus-clr: red;
    --dynamic-btn-clr: rgba(255, 255, 255, 0.4);
    --high: rgba(255, 107, 107, 0.5);
    --normal: rgba(168, 157, 234, 0.5);
    --low: rgba(200, 209, 220, 0.5);
    --date: rgba(255, 255, 255, 0.7);
    --sort: rgba(128, 128, 128, 0.7);
    --complete: rgba(144, 238, 144, 0.6);
    --todo-hover: rgba(255, 255, 255, 1);
    --add-task: rgba(128, 128, 128, 0.7);
    --placeholder-clr: rgba(255, 255, 255, 0.377);
    --confirm: rgba(0, 128, 0, 0.9);
    --cancel: rgba(255, 0, 0, 0.7);
    --input-bckgrnd-clr: var(--sort);
  }
  


  body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: "Roboto", sans-serif;
    color: var(--txt-clr);
  }

  header {
    padding: 1rem;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  header button {
    background-color: var(--bckgrnd-clr);
  }

  .switch-theme {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--txt-clr);
  }


  .switch-theme svg {
    width: 2rem;
    fill: var(--txt-clr);
  }

  .sort-button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--txt-clr);
  }

  .sort-button svg {
    width: 2rem;
    fill: var(--txt-clr);
    margin-right: 0.3rem;
  }

  main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
  }

  nav {
    background-color: var(--nav-color);
    padding-top: 0.7rem;
  }


  nav h3 {
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }

  .project-div button {
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .projects h3 svg {
    width: 2rem;
    margin-right: 0.4rem;
  }

  .projects h3 {
    display: flex;
    justify-content: center;
  }


  .project-div:hover {
    background-color: var(--highlight-clr);
    color: white;
    scale: 1.02;
  }


  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sort-button {
    margin-right: 10rem;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--sort);
  }


  .project-name svg {
    width: 2.5rem;
    margin-right: 0.4rem;
    fill: var(--txt-clr);
  }

  .sort-button:hover {
    scale: 1.1;
  }

  .project-name {
    display: flex;
    font-size: 2rem;
  }


  .projects h3:first-child {
    font-size: 1.5rem;
    fill: var(--txt-clr);
  }
  

  .dates {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4rem;
  }

  .dates button {
    display: flex;
    padding-left: 15%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    fill: var(--txt-clr);
  }

  .dates button svg {
    width: 2rem;
    margin-right: 0.4rem;
  }


  .dates button:hover {
    background-color: var(--highlight-clr);
    color: var(--svg-hover);
    scale: 1.04;
    fill: var(--svg-hover);
  }


  .projects {
    display: flex;
    flex-direction: column;
  }

  .add-project {
    order: 2;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  .add-project-ui {
    order: 1;
    display: none;
    padding: 0.4rem 1.1rem;
    flex-direction: column;
  }

  .add-project svg {
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
    fill: red;
  }

  .project-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .project-nav > svg {
    width: 1.8rem;
    margin-right: 0.4rem;
  }

  .project-nav {
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    padding-left: 1rem;
  }


  .project-edit-button, .project-remove-button   {
    width: 1.4rem;
    padding: 0;
    margin-right: 0.7rem;
    fill: var(--dynamic-btn-clr);
  }

  .project-edit-button:hover, .project-remove-button:hover {
    scale: 1.8;
    fill: red;
  }


  .add-project:hover {
    background-color: rgba(255, 166, 0, 0.576);
    border-radius: 10px;
  }

  .add-project-ui input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--txt-clr);
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--input-txt);
    background-color: var(--input-clr);
  }

  .add-project-ui input::placeholder {
    color: var(--placeholder-clr);
  }

  .add-project-ui input:focus {
    box-shadow: inset 1px 1px 1px 1px var(--focus-clr);
  }

  .add-project-ui input:hover {
    scale: 1.02;
  }

  .form-buttons button {
    padding: 0.2rem 0.5rem;
    flex: 1;
    border-radius: 5px;
    font-weight: bold;
  }

  .form-buttons button:hover {
    scale: 1.1;
  }

  .form-buttons button:active {
    scale: 1.2;
  }

  .confirm-project, .confirm {
    background-color: var(--confirm);
  }

  .form-buttons button:nth-child(2), .cancel-task {
    background-color: var(--cancel);
  }

  .form-buttons {
    display: flex;
    flex: 1;
    gap: 0.7rem;
  }


  .add-task {
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
  }

  .add-task-ui {
    order: 1;
    display: none;
    gap: 1rem;
    justify-content: center;
  }

  .add-task svg {
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
    fill: red;
  }

  .add-task-ui > div {
    display: flex;
    flex-direction: column;
  }


  .add-task-ui input {
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--txt-clr);
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--input-txt);
    background-color: var(--input-bckgrnd-clr);
  }

  .add-task-ui input::placeholder {
    color: var(--placeholder-clr);
  }

  .add-task-ui input[type="text"]:focus {
    box-shadow: inset 1px 1px 1px 1px var(--focus-clr);
  }

  .add-task-ui input[type="text"]:hover {
    scale: 1.02;
  }

  textarea {
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--txt-clr);
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--input-txt);
    background-color: var(--input-bckgrnd-clr);
    flex: 1;
  }
  textarea::placeholder {
    color: var(--placeholder-clr);
  }

  textarea:focus {
    box-shadow: inset 1px 1px 1px 1px var(--focus-clr);
  }

  textarea:hover {
    scale: 1.02;
  }


  .add-task-ui button {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
  }

  .add-task-ui button:hover {
    scale: 1.1;
  }

  .add-task-ui button:active {
    scale: 1.2;
  }

  .radios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .radios h2 {
    align-content: center;
  }

  .radio {
    text-align: center;
  }


  .content {
    padding: 1rem 4rem;
    background-color: var(--bckgrnd-clr);
  }

  .content > h1 {
    margin-bottom: 1rem;
  }

  .expand {
    padding: 0;
    line-height: normal;
    margin-left: 2%;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    width: 1rem;
    vertical-align: middle;
  }


  .edit, .task-remove, .important-button {
    padding: 0;
    line-height: normal;
    margin-left: 1rem;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    vertical-align: middle;
    width: 1.8rem;
  }

  .important-button {
    margin-right: 10%;
  }



  .expand, .edit, .task-remove, .important-button {
    fill: var(--dynamic-btn-clr);
  }

  .info svg:hover  {
    scale: 1.8;
    fill: black;
  }

  .todo button:first-of-type svg:hover {
    scale: 1.2;
    fill: red;
  }

  .todo button:nth-of-type(2) svg:hover {
    fill: red;
  }

  .info {
    flex: 1;
  }

  .info label {
    font-weight: bold;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .expand:hover {
    scale: 1.3;
  }



  .todos {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }


  .todo {
    padding: 0.7rem;
    font-size: 1.3rem;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #80808061;
  }

  .todo:hover {
    box-shadow: 0px 0px 5px 1px var(--todo-hover);
  }

  .initial {
    padding: 0.7rem;
    font-size: 1.3rem;
    display: flex;
    padding-bottom: 0;
  }

  .todo .left {
    flex: 1;
    display: flex;
  }

  .todo .right {
    font-size: 1.5rem;
    margin-top: 1%;
    font-weight: bold;
  }


  .due-date {
    color: var(--date);
    font-size: 1.1rem;
    font-weight: bold;
  }

  .right svg {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4rem;
    fill: var(--txt-clr);
  }

  .right p {
    text-align: left;
  }


  textarea {
    resize: none;
  }

  .add-task:hover {
    background-color: var(--add-task);
  }

  .todo input {
    margin-right: 1rem;
    scale: 1.5;
  }

  .detail {
    font-size: 1.2rem;
    padding: 0 2.5rem;
  }


  .task-priority {
    font-weight: bold;
  }

  .checkbox input {
    margin-top: 1rem;
  }


  footer {
    text-align: center;
    background-color: var(--nav-color);
    padding: 0.3rem;
    font-weight: bold;
  }

  .low {
    background-color: var(--low);
  }

  .normal {
    background-color: var(--normal);
  }

  .high {
    background-color: var(--high);
  }

  .selected {
    background-color: var(--highlight-clr) !important;
    color: var(--svg-hover);
    fill: var(--svg-hover) !important;
  }

  .edited {
    border : 5px solid red;
  }

  .completed-task {
    background-color: var(--complete);
  }

  .important-task {
    fill: yellow;
    scale: 1.5;
  }


  input[type="radio"]{
    scale: 1.6;
    margin-left: 4px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(17%) sepia(86%) saturate(7492%) hue-rotate(0deg) brightness(94%) contrast(116%);
  }

  .add-task-ui label {
    display: inline-block;
    font-weight: bold;
    min-width: 4rem;
  }

  .text {
    width: min(25rem, 45rem);
  }

  input[type="checkbox"]{
    appearance: none;
    background-color: white;
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relatve;
    border: 1px solid grey;
  }


  input[type="checkbox"]::before {
    display: block;
    content: "✔";
    font-size: 1.2rem;
    color: green;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    visibility: hidden;
    position: relative;
    bottom: 40%;
    right: 5%;
  }

  input[type="checkbox"]:checked::before {
    visibility: visible;
  }








  







