/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  header {
    padding: 1rem;
    background-color: beige;
  }

  main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
  }

  nav {
    background-color: rgb(236, 236, 229);
  }

  footer {
    text-align: center;
    background-color: beige;
  }


